.contact-link {
  text-decoration: none;
}

#plus-sign {
  font-size: 2.4rem;
  font-weight: 600;
}

#hamburger {
  display: inline-block;
}

a {
  text-decoration: none;

  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

#hero-video {
  display: flex;

  justify-content: center;

  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0.6em;
  background-color: white;

  border-bottom: 0.1vh solid gray;

  font-size: 3.2rem;
  font-weight: 0;
  height: 6.9vh;
}

.logo {
  position: fixed;
  top: 2.72vh;
  left: 51%;
  transform: translateX(-50%) scale(1);
  color: black;
  letter-spacing: 1.12rem;
  z-index: 20;
  font-size: 4.8rem;
}

.img-container-notrounded {
  display: flex;

  gap: 2%;

  overflow-x: scroll;
}

.img-container-notrounded img {
  transition: transform 0.5s ease;

  object-fit: cover;
}

.img-container-notrounded img:hover {
  transform: scale(1.1);
}

.img-container-rounded img:hover {
  transform: scale(1.1);
}

.img-container-rounded {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  justify-content: space-evenly;

  padding: 20px;
}

.img-container-rounded img {
  height: 53.9vh;

  width: 25%;

  min-width: 250px;

  border-radius: 10px;

  transition: transform 0.5s ease;

  object-fit: cover;
}

hr {
  height: 0.5vh;
  background-color: black;
  border: none;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  animation: expandHr 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes expandHr {
  to {
    transform: scaleX(1);
  }
}
